@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KCCMurukmuruk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCMurukmuruk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.title{
    padding-top: 125px;
    text-align : center;
}

.title a{
    font-family:  'EF_jejudoldam';
    text-decoration : none; 
    color : #93a9d1;
    font-size : 48px;

    display : inline-block;
}

.minititle{
    padding-top: 135px;
    text-align : center;
}

.minititle a{
    font-family:  'EF_jejudoldam';
    text-decoration : none; 
    color : #93a9d1;
    font-size : 24px;
    text-align : center;
}

.container{
    padding-top: 15px;
    text-align : center;

}

.container a{
    font-family:  'KCCMurukmuruk';
    text-decoration : none;
    color : #000000;
    padding-left: 10px;
    padding-right: 10px;
}

.video{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align : center;
}

.titlesection{
    width: 400px;
    margin: auto;
}

.titlesection p{
    font-family:  'GmarketSansMedium';
    margin: 0.5em;
}


.mainsection{
    width : 960px;
    padding-top: 15px;
    padding-bottom: 75px;
    margin : auto;
}

.mainImage{
    padding-top: 20px;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* footer */
.FooterSection{
    font-family:  'GmarketSansMedium';
    padding : 50px;
    font-size: 14px;
    line-height: 1.71;
    background-color: rgba(243, 243, 243, 0.712)
}

.test{
    width : 960px;
    margin: auto;
}

.developer :last-child::after,
.second :last-child::after {
    display: none;
}

.developer ::after, .second ::after{
    content : '';
    margin : 0 12px;
    border-left : 1px solid rgba(37,40,47,0.3);
}

.copyright {
    padding-top: 20px;
}